.header{
    align-items: flex-end;
    background: #43E895;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 700;
    height: 80px;
    justify-content: center;
    letter-spacing: 1px;
    padding: 12px 20px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.content{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 1080px;
    width: 100%;
}

.content > a {
    justify-self: end;
}

.content > div {
    justify-self: start;
    display: flex;
    align-items: center;
}

#mapIcon{
    height: 34px;
    width: 34px;
}

#backIcon{
    font-size: 48px;
    cursor: pointer;
    margin: -14px;
}

.material-icons{
    color: rgb(255, 255, 255);
    font-size: 34px;
}