/********* CARD.JS *********/

.cardContainer{
    max-width: 500px;
}
.restaurantCard{
    height: 180px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.cardImage{
    height: 100%;
    width: 100%;
}

.cardTitle{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    left: 0px;
    padding: 6px 12px;
    position: absolute;
    width: 100%;
}

.cardTitle > h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
}

.cardTitle > h4 {
    font-size: 12px;
}

/********* DETAIL.JS *********/

.detailCard{
    font-family: 'Lato', sans-serif;
    background: rgb(255,255,255);
    height: 100vh;
    left: 0;
    overflow: hidden;
    margin-top: 80px;
    position: fixed;
    top:0;
    transition: ease-in-out 0.3s width;
    width: 0;
    z-index: 5;
}

.smallMapContainer{
    height: 180px;
    width: 100%;
}

.detailTitle{
    align-items: center;
    background: #34B379;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    padding: 0px 12px;
}

.detailTitle > h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
    max-width: 1080px;
    width: 100%;
}

.detailTitle > h4{
    font-size: 12px;
    max-width: 1080px;
    width: 100%;
}

.cardDetails{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 16px 12px;
}

.cardDetails > p {
    margin-bottom: 26px;
    max-width: 1080px;
    width: 100%;
}

/*********** SMALLMAP.js **********/
.markerToolTip > h3{
    color: #34B379;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/********** MEDIA QUERIES *********/
@media (min-width: 500px){
    .restaurantList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px){
    .restaurantList{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1500px){
    .restaurantList{
        grid-template-columns: repeat(4, 1fr);
    }
}